{{ define "main" }}
<div class="main-container">
  <h1>{{ .Page.Title }}</h1>
  <p class="page-summary">{{ .Page.Params.description }}</p>
  <hr class="first-hr">

  {{ $counter := 0 }}
  {{ range (sort .Pages "Date" "desc") }}
  {{ $counter = add $counter 1 }}
  {{ if gt $counter 1 }}
  <hr>
  {{ end }}

  <div class="recipe-tile {{ if eq (mod $counter 2) 0 }}reverse{{ end }}">
    <div class="recipe-container1">
      <div class="recipe-title">
        <a href="{{ .RelPermalink }}">
          <h2>{{ .Title }}</h2>
        </a>
      </div>
      <div class="recipe-metadata-line">
        <div class="metadata-entry">
          <div class="icon">
            <img class="no-overlay" src='{{ "icons/calendar-solid.svg" | absURL }}' alt="Calendar-Date">
          </div>
          <p>{{ .Date.Format "02.01.2006" }}</p>
        </div>
        <div class="metadata-entry">
          <div class="icon">
            <img class="no-overlay" src='{{ "icons/star-solid.svg" | absURL }}' alt="Length">
          </div>
          <p>{{ .Params.metadata.rating}}</p>
        </div>
      </div>
      <div class="recipe-summary">
        <p>{{ .Summary }}</p>
      </div>
      <div class="recipe-a-container">
        <a href="{{ .RelPermalink }}" class="recipe-a">To Recipe</a>
      </div>
    </div>
    <div class="recipe-container2">
      <div class="recipe-img">
        {{ with .Resources.GetMatch .Params.image }}
        <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
        {{ else }}
        <p>No image found for {{ .Title }}</p>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}