{{ define "main" }}
<div class="main-container">
  <h1>{{ .Page.Title }}</h1>
  <p class="page-summary">{{ .Page.Params.description }}</p>
  <hr class="first-hr">

  {{ $totalPages := len .RegularPages }}
  {{ range $index, $element := (sort .RegularPages "Date" "desc") }}
  <div class="blog-entry">

    <div class="blog-img">
      {{ with $element.Resources.GetMatch $element.Params.image }}
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
      {{ else }}
      <p>No image found for {{ .Title }}</p>
      {{ end }}
    </div>
    <div class="blog-content">
      <p class="blog-date">{{ $element.Date.Format "Jan 2006"}}</p>
      <a href="{{ $element.RelPermalink }}">
        <h2 class="blog-title">{{ $element.Title }}</h2>
      </a>
      <p class="blog-summary">{{ $element.Summary }}</p>
    </div>
  </div>
  {{ if lt (add $index 1) ($totalPages) }}
  <hr>
  {{ end }}
  {{ end }}
</div>

{{ end }}