{{ define "main" }}
<div class="main-container">
  <h1>{{ .Page.Title }}</h1>
  <p class="page-summary">{{ .Page.Params.description }}</p>
  <hr class="first-hr">

  {{ range (sort .Pages "Date" "desc") }}
  <div class="blog-entry">
    <div class="blog-img">
      {{ with .Resources.GetMatch .Params.image }}
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
      {{ else }}
      <p>No image found for {{ .Title }}</p>
      {{ end }}
    </div>
    <div class="blog-content">
      <p class="blog-date">{{ .Date.Format "Jan 2006"}}</p>
      <a href="{{ .RelPermalink }}">
        <h2 class="blog-title">{{ .Title }}</h2>
      </a>
      <p class="blog-summary">{{ .Summary }}</p>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}