<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <button id="move-up-button" class="not-visible">❯</button>
    <button id="move-down-button" class="not-visible">❮</button>
    <div id="wrapper">
      {{ partial "header.html" . }}
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    <div id="image-overlay" class="image-overlay">
      <img id="overlay-image" src="" alt="Fullscreen Image">
    </div>
  </body>
</html>