{{ define "main" }}
<div class="main-container">
    <h1>{{ .Title }}</h1>
    {{ if .Page.Params.subtitle }}
    <h2>{{ .Page.Params.subtitle }}</h2>
    {{ end }}
    <div class="about-container">
        <div class="a-metadata">
            <h2>{{ .Site.Params.contact.name }}</h2>
            <p>{{ .Site.Params.contact.adress }}</p>
            <a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a>
            <a href="tel:{{ .Site.Params.contact.phone }}">{{ .Site.Params.contact.phone }}</a>
        </div>
        <div class="a-img">
            {{ with .Resources.GetMatch .Params.image }}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
            {{ else }}
            <img src='{{ "documents/person.webp" | absURL }}' alt="Person">
            {{ end }}
        </div>
    </div>
    <hr class="first-hr">
    {{ .Content }}
    <div class="timeline-container">
        <div class="line-and-dots">
            {{ $counter := 0 }}
            {{ range .Params.notable_events }}
            {{ $counter = add $counter 1 }}
            <div class="timeline-item">
                <div class="dot"></div>
                <div class="timeline-entry {{ if eq (mod $counter 2) 0 }}right{{ else }}left{{ end }}">
                    {{ with site.GetPage .url }}
                    <div class="timeline-entry-content">
                        <a href="{{ .RelPermalink }}">
                            <h3>{{ .Title }}</h3>
                        </a>
                        <p>{{ .Summary }}</p>
                    </div>
                    {{ else }}
                    <p>Error: Page not found for {{ .url }}</p>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            <div class="timeline-item">
                <div class="last-dot">
                    {{ with .Resources.GetMatch .Params.cv_document }}
                    <div class="CV icon primary-color" id="jump-to-here">
                        <a href="{{ .RelPermalink }}" target="_blank" rel="noopener noreferrer">
                            {{ readFile "static/icons/file-solid.svg" | safeHTML }}
                        </a>
                    </div>
                    {{ else }}
                    <div class="CV icon primary-color" id="jump-to-here">
                        <a href='{{ "documents/CV.pdf" | absURL }}' target="_blank" rel="noopener noreferrer">
                            {{ readFile "static/icons/file-solid.svg" | safeHTML }}
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}