<footer>
  <div class="footer-container">
    <p>Crafted with ❤︎ in Zurich.</p>
    <div class="footer-icons">
      <a href='{{ .Site.Params.profiles.spotify }}' target="_blank" rel="noopener" class="icon">
        <img src='{{ "/icons/spotify.svg" | relURL }}' , alt="Spotify">
      </a>
      <a href='{{ .Site.Params.profiles.github }}' target="_blank" rel="noopener" class="icon">
        <img src='{{ "/icons/github.svg" | relURL }}' , alt="GitHub">
      </a>
      <a href='{{ .Site.Params.profiles.linkedin }}' target="_blank" rel="noopener" class="icon">
        <img src='{{ "/icons/linkedin.svg" | relURL }}' , alt="LinkedIn">
      </a>
      <a href='{{ .Site.Params.profiles.email }}' target="_blank" rel="noopener" class="icon">
        <img src='{{ "/icons/envelope-solid.svg" | relURL }}' , alt="Email">
      </a>
    </div>
  </div>
</footer>