<footer>
  <div class="footer-container">
    <p>{{ .Site.Params.costumisation.footerText | default "Crafted with ❤︎ in Zurich." }}</p>
    <div class="footer-icons">
      {{ with .Site.Params.profiles.spotify }}
      <a href='{{ . }}' target="_blank" rel="noopener" class="icon">
        <img src='{{ "icons/spotify.svg" | absURL }}' alt="Spotify">
      </a>
      {{ end }}
      {{ with .Site.Params.profiles.github }}
      <a href='{{ . }}' target="_blank" rel="noopener" class="icon">
        <img src='{{ "icons/github.svg" | absURL }}' alt="GitHub">
      </a>
      {{ end }}
      {{ with .Site.Params.profiles.linkedin }}
      <a href='{{ . }}' target="_blank" rel="noopener" class="icon">
        <img src='{{ "icons/linkedin.svg" | absURL }}' alt="LinkedIn">
      </a>
      {{ end }}
      {{ with .Site.Params.profiles.instagram }}
      <a href='{{ . }}' target="_blank" rel="noopener" class="icon">
        <img src='{{ "icons/instagram.svg" | absURL }}' alt="Instagram">
      </a>
      {{ end }}
      {{ with .Site.Params.profiles.email }}
      <a href='{{ . }}' target="_blank" rel="noopener" class="icon">
        <img src='{{ "icons/envelope-solid.svg" | absURL }}' alt="Email">
      </a>
      {{ end }}
    </div>
  </div>
</footer>