<header>
    <div class="header-container">
      <div class="header-title">
        <a href="{{ .Site.BaseURL }}">
          <b>{{ .Site.Title }}</b>
        </a>
        <button class="dark-mode-toggle icon" >
          <img alt="DarkMode" id="dark-mode-toggle-img"
            data-moon='{{ "icons/moon-solid.svg" | absURL }}' 
            data-sun='{{ "icons/sun-solid.svg" | absURL }}' >
        </button>
      </div>
      
      <nav>
        <a href="{{ "blog/" | absURL }}">Blog</a>
        <a href="{{ "retro/" | absURL }}">Retro</a>
        <a href="{{ "project/" | absURL }}"/>Project</a>
        <a href="{{ "book/" | absURL }}">Book</a>
        <a href="{{ "recipe/" | absURL }}">Recipe</a>
        <a href="{{ "about/" | absURL }}">About</a>
      </nav>
      <button class="menu-button">
        <img src='{{ "icons/bars-solid.svg" | absURL }}' alt="menu">
      </button>
    </div>
</header>
    