{{ $index := .Page.Scratch.Get "inline-img-index" | default 0 }}
{{ $alignment := .Get "alignment" | default (cond (eq (mod $index 2) 0) "left" "right") }}
{{ $image := .Get "src" }}
{{ $caption := .Get "caption" }}
{{ $text := .Inner | markdownify }}
{{ $title := .Page.Title }}
{{ $maxwidth := .Get "max-width" | default "45%" }}
{{ $maxwidth := printf "max-width: %s;" $maxwidth | safeCSS }}

<style>
  @media (min-width: 900px) {
      .inline-img-{{ $index }} .img-container {
          max-width: {{ $maxwidth }};
      }
  }
  </style>

<div class="inline-img {{ $alignment }} inline-img-{{ $index }}">
  <div class="img-container">
    {{ with .Page.Resources.GetMatch $image }}
    <img src="{{ .RelPermalink }}" alt="{{ $title }}">
    {{ else }}
    <p>No image found for {{ $title }}</p>
    {{ end }}
    <p>{{ $caption }}</p>
  </div>
  <div class="text-container">
    {{ if in $text "<p>" }}
      {{ $text | safeHTML }}
    {{ else }}
      <p>{{ $text }}</p>
    {{ end }}
  </div>
</div>

{{ .Page.Scratch.Set "inline-img-index" (add $index 1) }}