<div class="metadata-line">
  {{ with .Page.Date }}
    {{ $parsedDate := . | time }}
    <div class="metadata-entry">
      <p>{{ .Format "02.01.2006" }}</p>
      <div class="icon">
        <img class="no-overlay" src='{{ "/icons/calendar-solid.svg" | relURL }}' alt="Calendar-Date">
      </div>
    </div>
  {{ end }}
  {{ with .Page.Params.metadata.readingTime }}
    <div class="metadata-entry">
      <p>{{ . }} min</p>
      <div class="icon">
        <img class="no-overlay" src='{{ "/icons/hourglass-half-solid.svg" | relURL }}' alt="Length">
      </div>
    </div>
  {{ end }}
  {{ with .Page.Params.metadata.author }}
    <div class="metadata-entry">
      <p>{{ . }}</p>
      <div class="icon">
        <img class="no-overlay" src='{{ "/icons/pen-solid.svg" | relURL }}' alt="Author">
      </div>
    </div>
  {{ end }}
  {{ with .Page.Params.metadata.rating }}
    <div class="metadata-entry">
      <p>{{ . }}</p>
      <div class="icon">
        <img class="no-overlay" src='{{ "/icons/star-solid.svg" | relURL }}' alt="Rating">
      </div>
    </div>
  {{ end }}
</div>
<hr class="first-hr">
